@using System;
@using System.Globalization;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The current time is:</p>
    <p>@DateTime.Now.ToShortTimeString()</p>
    <h2 class="text-xl-center" style="font-family:'Comic Sans MS'; color:rebeccapurple">SRS BIZNISS FONT!!</h2>
</div>
