@{
    ViewBag.Title = "Holler";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    123 Sesame Street<br />
    Seattle, WA 98989<br />
    United States<br /><br />

    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<small>
    Contact Deets Last Made Fresh: @DateTime.Now  
</small>